body{
    background-color: #0d0d0e;
    color: #fff;
    font-family:"arial";
    padding: 8;
    margin: 0;
}
#container{
    background: rgb(0, 57, 110);
    padding: 30px;
    width: 1000px;
    margin: 0 auto;
    border-left: double white 5px;
    border-right: double white 5px;
}
#sidebar{
    background: black;
    padding: 26px;
    border: 3px solid white;
    width: 20%;
    float: right;
    margin-left: 38px;
    border-radius: 30px;
}
h1{
    font-family: "courier";
    background: black;
    padding: 20px;
    text-align: center;
    width: 600px;
    margin: auto;
    font-size: 3em;
    border: 6px groove white;
    border-radius: 30px;
}
h2{
    text-align: center;
    font-size: 1.25;
}
h3{
    width: 188px;
    border-left: 36px double black;
    padding: 10px;
    margin-left: 30px;
    border-radius: 15px;
}

p{
    line-height: 2.25em;
}

img {
    width:300px;
    float: left;
    border: solid 3px #990000;
    border-radius: 9px;
    margin-right: 20px;
}
#pic2{
    float: right;
    margin-right: 0;
    margin-left: 20px;
}
.highlight {
    background-color: rgb(226, 226, 0);
    font-weight: bold;
    color: black;
    padding: 4px;
    border-radius: 5px;
}
a:link{
    font-weight: bold;
    color:rgb(202, 30, 30);
    text-decoration: none;
}
a:visited{
    color:rgb(175, 84, 0);
}
a:hover{
    text-decoration: underline;
}
img:hover{
    border-color:rgb(16, 191, 16);
    box-shadow: .5px 5px 10px rgb(16, 191, 16);
}
a:active{
    color:green;
}
.highlight:active{
    background: orange;
}
ul{
    line-height: 1.5em;
    font-size: 1em;
}
#sidebar h3{
    padding: 5px;
    border-width: 5px;
    passing-left: 20px;
    border-right-color: yellow;
    border-right-style: none;
    taxt-align: center;

}
@media(max-width: 1200px){
    #container{
        width: 900px;
    }
}
@media (max-width: 992px){
    #container{
        width: 95%;
        border:none;
        margin: 0 auto;
        float:none;    
        padding: 4px;

    }
    body{
        padding: 20px;
    }
    #sidebar{
        width: 80%;
        margin: 0 auto;
        float: none;
    }
    h1{
        width: 70%;
        background: none;
        border: none;
    }
    p{
        text-align: justify;
    }
}
@media (max-width: 768px){
    #container, body{
        width: 95%;
        border:none;    
        margin: 0 auto;
        padding: 4px;
    }
    #sidebar{
        display: none;
    }
    img#pic1 {
        float: none;
        width: 95%;
        margin: 0 auto;
        padding: 13px;
    }
    img#pic2 {
        float: none;
        width: 95%;
        margin: 0 auto;
        padding: 13px;
    }
    img#pic3 {
        float: none;
        width: 95%;
        margin: 0 auto;
        padding: 13px;
    }
}
